{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Form</title>

    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body>
<!-- 
    <div class="bg-red-500 text-white p-4">Tailwind CSS Test</div>

    <div style="background: red; color: white; padding: 10px;">Inline CSS Test</div> -->


    <div class="w-[50%] mx-auto mt-8">
        <div>
            {% if message %}
            <p>{{message}}</p>
            {% endif %}
        </div>

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="bg-rose-400 px-2 rounded-lg" type="submit">Submit</button>
        </form>
    </div>



</body>

</html>